@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1d1d1f;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}
