@import "tailwindcss";

:root {
  --background: #000812;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  background-image: radial-gradient(
    circle at top center,
    #006eb5 0%,
    #003461 45%,
    #00060e 100%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}
